# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=<YOUR_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_ANON_KEY==<YOUR_SUPAB>
CMS_API_URL=<YOUR_CMS_API_URL>
CMS_API_KEY=<YOUR_CMS_API>
NEXT_PUBLIC_BASE_API_URL=<URL_THAT_NEXT_JS_IS_RUNNING>