body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
.firstContainer {
  border: 2px solid white;
  padding: 20px;
  width: 400px;
  margin: auto;
}
.search-bar input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.note {
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
}
.note .topic {
  display: inline-block;
  margin-top: 10px;
}
.edit-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.actions button,
.actions input[type='checkbox'] {
  margin-right: 5px;
}
.icon-section {
  display: inline-flex;
  align-items: center;
}
.icon-section span {
  margin-left: 5px;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border: 2px solid white;
  padding: 10%;
}

footer button {
  border: 2px solid white;
  padding: 2%;
}
